html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tabFrame {
    height: 95%;
    width: 100%;
    top: 5%;
    position: fixed;
}

.tabTitle {
    height: 5%;
    width: 10%;
    border: 1px dashed silver;
    margin-left: 1px;
    display: inline-block;
}

.selected {
    color: black;
    background-color: white;   
    border: 1px solid silver;
}

.unselected {
    color: white;
    background-color: silver;
}

.tabContent {
    height: 95%;
    width: 100%;
    top: 6%;
    position: absolute;
    border: 1px solid black;
}

.addTab {
    height: 50px;
    width: 50px;
    right: 1%;
    top:1%;
    position: absolute;
    border: 1px dashed lightgreen;
}